{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <section class="bg-dark text-light p-5 my-1" id="level1">
        <div class="container">
            <div class="px-4 pt-5 my-5 text-center border-bottom">
                <h1 class="display-4 fw-bold text-primary">Level 1 - SQL Injection</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">SQL injection is a web security vulnerability that allows an attacker to interfere with the queries 
                        that an application makes to its database. The application doesn't implement any defenses against SQL injection attacks
                        so you can try to access the site through the login form using sql query, for example OR 1=1.
                    </p>
                </div>
                <div class="container px-5">
                    <img src="/static/hacker_game.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="SQL Injection" width="700" height="500" loading="lazy">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark text-light p-5 my-1" id="level2">
        <div class="container">
            <div class="px-4 pt-5 my-5 text-center border-bottom">
                <h1 class="display-4 fw-bold text-primary">Level 2 - Bruteforce</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">A bruteforce attack is a hacking method that uses trial and error to crack passwords, login credentials, and encryption keys.
                        The application does not implement any defense against bruteforce attacks, so you can try to guess the pin code to enter.
                        If you need help you can see into helped.py into app code.
                    </p>
                </div>
                <div class="container px-5">
                    <img src="/static/hacker_game.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Bruteforce" width="700" height="500" loading="lazy">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark text-light p-5 my-1" id="level3">
        <div class="container">
            <div class="px-4 pt-5 my-5 text-center border-bottom">
                <h1 class="display-4 fw-bold text-primary">Level 3 - Folium Map</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">You can see how to implement a simple folium map with IP geolocation. 
                        I hope it can be useful to you.
                    </p>
                </div>
                <div class="container px-5">
                    <img src="/static/hacker_game.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Folium Map" width="700" height="500" loading="lazy">
                </div>
            </div>
        </div>
    </section>

{% endblock %}